<!DOCTYPE html>
<html lang="en">
  <head>
  		<% include ./../partials_template/head %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu"   >

	<!-- <% include ./../partials_template/header %> -->
  	<% include ./../partials_template/menu_templates/menu_sub_installation %>

	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap" style="background:white">

		<div class="container">
			<div class="row" >
        <div class="col-xs-3 ">
            <a href="/installation/edit"><span class="glyphicon glyphicon-wrench" style="font-size: 12em"></span></a>

        </div>
        <div class="col-lg-3">

          <p>
          </p>
        </div>
        <h1 style="color:black; text-align:left;">EDIT INSTALLATION</h1>


        <!-- bootstrap table begin -->
        <div class="container">
        <h2>Current Installation(s)</h2>
        <table class="table table-hover">

        <thead>
          <tr>
           <th style="text-align:center;">ID</th>
           <th style="text-align:center;">City</th>
           <th style="text-align:center;">Country</th>
           <th style="text-align:center;">School Affliation</th>
           <th style="text-align:center;">Local Admin ID</th>
           <th style="text-align:center;">Delegate List</th>
           <th style="text-align:center;">Online</th>
           <th style="text-align:center;">Last Data Update</th>
           <th style="text-align:center;">GPS Location x</th>
           <th style="text-align:center;">GPS Location y</th>

         </tr>
        </thead>
          <% insta.forEach(function(an_installation){ %>
            <tbody>
            <tr>
              <th style="text-align:center;"> <%= an_installation.id %> </th>
              <th style="text-align:center;"> <%= an_installation.city %> </th>
              <th style="text-align:center;"> <%= an_installation.country %> </th>
              <th style="text-align:center;"> <%= an_installation.schoolaffliation %> </th>
              <th style="text-align:center;"> <%= an_installation.localadminid %> </th>
              <th style="text-align:center;"> <%= an_installation.delegatelist %> </th>
              <th style="text-align:center;"> <%= an_installation.online %> </th>
              <th style="text-align:center;"> <%= an_installation.lastdataupdate %> </th>
              <th style="text-align:center;"> <%= an_installation.gpslocationx %> </th>
              <th style="text-align:center;"> <%= an_installation.gpslocationy %> </th>
            </tr>
            </tbody>
          <% }); %>

        </table>
        </div>
        <!-- bootstrap table END. -->



			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->





  	<!-- ========== other scoll SECTION ========== -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/classie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/smoothscroll.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
