<!--this page will render any given module such as cs 326 cs 250 ect
this means this file should also display all modules associated with
that class or whatever the users planner is-->
<!DOCTYPE html>
<html>
  <head>
    <title><%=planner %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=planner %></h1>
    <% for(var i = 0; i < listOfModules.length; i++) { %>
      <h1> <%=listOfModules[i].module %> </h1>
	<%if(listOfModules[i].module === 'Notes'){ %>
	    <%if(data !== null && data[i] !== undefined && 
		data[i][0] !== undefined){%>
	      <p><%=data[i][0].text%></p>
	    <%}%>
            <form action="/users/currentHomeModule" id="Notes">
	      <input type="hidden" name="notesEdit" value="true">
              <input type="submit" value="Edit">
            </form><br><br>
	    <% if(editNotes === "true"){%>
	      <form action="/users/editPageModule" id="Notes" >
	        <input type="hidden" name="Module" value="Notes">
	        <input type="hidden" name="notesEdit" value="false">
		<input type="text" name="comment">
	        <input type="submit" value="Finish Editing">
  	      </form><br><br>
	    <!--<%if(data !== null && data[i] !== undefined && 
		data[i][0] !== undefined){%>
               <textarea rows="4" cols="50" name="comment" form="Notes">
                        <%=data[i][0].text%></textarea>
            <%}%>
	    <%if(data === null || data[i] === undefined ||
                data[i][0] === undefined){%>
		<textarea rows="4" cols="50" name="comment" form="Notes">
                     </textarea>
	    <%}%>-->
	   <%}%>
     <%}%>
	<form action="/users/removePageModule">
           <input type="hidden" name ="Module"
                value=<%=listOfModules[i].module%>>
           <input type="submit" value="remove">
        </form>
   <% } %>	
    <h1>Add a Module </h1>
   <p><%=message%></p>
  <select name="Module" form="Module">
    <option value="Notes">Notes</option>
    <option value="Budget">Budget</option>
    <option value="UpcomingEvents">Upcoming Events</option>
    <option value="UsefulLinks">Useful Links</option>
  </select><br><br>
  <form action="/users/addPageModule" id="Module">
     <input type="submit">
  </form><br><br>

    <a href="/users/home">Back to Home</a><br>
    <a href="/logout">Logout</a>
  </body>
</html>

