<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/menubar_style.css' />
	<link rel="import" href='../header.html'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../javascripts/content_fadein.js"></script>
  </head>

  <body>
  
<div id="header"></div>
  <script>
var link = document.querySelector('link[rel="import"]');
    var content = link.import;
    // Grab DOM from warning.html's document.
    var el = content.querySelector('#headerbanner');
    document.body.appendChild(el.cloneNode(true));
	
	var el2 = content.querySelector('#student_menu');
  	document.body.appendChild(el2.cloneNode(true));
  </script>

<div id ="content" class = "contentview" >
    <h1><%= title %></h1>

    <p>admins list </p>
    <ul>
      <% var a = 0 %>
	<%if (onlinelist.length === 0){ %>
		<% for(var list in adminlist) { %>
		<li><%= adminlist[list].id + " [offline]"%></li>
		<% } %>
	<% } %>
	
	<%if (onlinelist.length !== 0){ %>
      	<% for(var list in adminlist) { %>
        <% for(var userid in onlinelist) { %>
              <% if (adminlist[list].id === onlinelist[userid]){ %>
                <li><%= users[userid] + "[online] <<<"%></li>
                     <% a++ %>
              <% } %>
              <% if (adminlist[list].id !== onlinelist[userid]){ %>
              <li><%= adminlist[list].id + " [offline]"%></li>
              <% } %>
        <% } %>
       	<% } %>
	<% } %>

   <% if (a ===0){ %>
    <br>no admins currently online
  <% } %> 
    </ul>

<br>
<p>users currently online</p>
      <ul>
  <% var b = 0 %>
      <% for(var userid in onlinelist) { %>
       
		<% if (requser === onlinelist[userid]){%>
          	<li><%= onlinelist[userid] + " <<<"%></li>
		<% }%>
		<% if (requser !== onlinelist[userid]){%>
		<li><%= onlinelist[userid] %></li>
		<% }%>
      <% b++ %>

      <% } %>
  <% if (b ===0){ %>
    <li>no regular users currently online</li>
  <% } %>
    </ul> 
</div>

  </body>
</html>